section{
  background-color: #f2f2f2;
}

section .col4{
  background-color: #ce1212;

}
section
.col4 h2{
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: 1.2;
}


section
.col4 p{
  font-size: 1.3rem;
  line-height: 1.1;
  letter-spacing: 1.1;
}

.icon {
  background-color: #f2f2f2;
  width: 80px;
  height: 80px;
  color: #ce1212;
  margin: auto;
  align-content: center;
  border-radius: 50%;
}
.icon i{
  font-size: 2rem;
}
.sec-h{
  font-weight: 500;
  letter-spacing: 1.3;
  line-height: 1.3;
  font-size: 1.5rem;
}
.sec-p{
  letter-spacing: 1.1;
  line-height: 1.1;
}

.icon:hover{
  background-color: #ce1212;
  color: #fff;
}
