<section class="choose-Us py-5">
  <div class="container">
    <div class="row ">
      <div class="col-lg-4   text-white p-4">
        <div class="col4 p-3 item">
          <h2>Why Choose Yummy</h2>
          <p>Offering the best types of Bedouin food and grills with a unique taste that is incomparable. Our products
            are from our farms, in a modern Bedouin atmosphere that suits all tastes. There is a children's amusement
            park and an animal gallery for free. We have reservations for factories, groups and gatherings. We promise
            you a magical and unforgettable experience</p>
        </div>
      </div>
      <div class="col-lg-8  p-3 ">
        <div class="row g-2">
          <div class="col-lg-4  text-center p-2 item ">
            <div class="bg-body py-5 px-4">
              <div class="icon my-3">
                <i class="fa-regular fa-clipboard"></i>
              </div>
              <h3 class="my-3 sec-h">Corporis voluptates officia eiusmod</h3>
              <p class="lead sec-p">Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip
              </p>
            </div>
          </div>
          <div class="col-lg-4  text-center p-2  item">
            <div class="bg-body py-5 px-4">
              <div class="icon my-3">
                <i class="fa-regular fa-gem"></i>
              </div>
              <h3 class="my-3 sec-h">Ullamco laboris ladore lore pan</h3>
              <p class="lead sec-p">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              </p>
            </div>
          </div>
          <div class="col-lg-4  text-center p-2 item ">
            <div class="bg-body py-5 px-4">
              <div class="icon my-3">
                <i class="fa-regular fa-inbox"></i>
              </div>
              <h3 class="my-3 sec-h">Labore consequatur incidid dolore</h3>
              <p class="lead sec-p">Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>