<div class="page-nav">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/Home">Yammy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav   mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToSection('About-us')">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToSection('Menu')">Menu</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="scrollToSection('our-Chefs')">Our Chefs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToSection('Contact-us')">Contact</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/Dashboard">Dashboard</a>
          </li>
        </ul>

        <div class="book">
          <button (click)="scrollToSection('client_booking')">Book a Table</button>
        </div>
      </div>

    </div>
  </nav>
</div>