<!-- Footer -->
<footer class="text-center text-lg-start  text-muted">
  <div class="container-fluid p-5">
    <div class="row  gy-4 text-lg-start text-center">
      <div class="col-lg-3">
        <div class="d-flex  p-3">
          <i class="fa-solid fa-location-dot text-center align-content-center"
            style="font-size: 1.3rem; background-color: #ce1212;color: aliceblue; width: 50px;height: 50px; border-radius: 50%;"></i>
          <div class="ms-3">
            <h2 class="mb-1 fw-bolder" style="color: #7F7F90; letter-spacing: 1.2;">Address</h2>
            <p>Nasr City , Cairo , Egypt</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="d-flex  p-3">
          <i class="fa-solid fa-phone text-center align-content-center"
            style="font-size: 1.3rem; background-color: #ce1212;color: aliceblue; width: 50px;height: 50px; border-radius: 50%;"></i>
          <div class="ms-3">
            <h2 class="mb-1" style="color: #7F7F90; letter-spacing: 1.2;">Islam Mohammed</h2>
            <p>+201127414507</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="d-flex  p-3">
          <i class="fa-regular fa-envelope text-center align-content-center"
            style="font-size: 1.3rem; background-color: #ce1212;color: aliceblue; width: 50px;height: 50px; border-radius: 50%;"></i>
          <div class="ms-3">
            <h2 class="mb-1 fw-bolder" style="color: #7F7F90; letter-spacing: 1.2;">Email</h2>
            <p>islamblal648&#64;gmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="d-flex  p-3">
          <i class="fa-solid fa-clock text-center align-content-center"
            style="font-size: 1.3rem; background-color: #ce1212;color: aliceblue; width: 50px;height: 50px; border-radius: 50%;"></i>
          <div class="ms-3">
            <h2 class="mb-1 fw-bolder" style="color: #7F7F90; letter-spacing: 1.2;">Opening Hours</h2>
            <p>24 Hours</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- Footer -->