<div class="sidenav-header p-4 text-center">
  <img src="/assets/img/4O9A6445.jpg" class="object-fit-contain" [width]="profilePicSize()" [height]="profilePicSize()"
    alt="Profile Picture" class=" rounded-circle mb-3 object-fit-cover">
  <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
    <h2 class="m-0">Dashboard</h2>
    <p class="text-muted m-0 d-flex justify-content-center"> <span>Made By Me with</span> <mat-icon matListItemIcon
        style="color: rgb(184, 19, 19); font-size: 15px; ">favorite</mat-icon> </p>
  </div>
</div>



<mat-nav-list>
  <a mat-list-item routerLink="/Home">
    <mat-icon matListItemIcon style="color: rgb(22, 21, 21); font-size: 25px;" fontIcon="home"></mat-icon>
    Home
  </a>

  <a mat-list-item #rla="routerLinkActive" [activated]="rla.isActive" routerLink="/Dashboard/Meals"
    routerLinkActive="selected-menu-item">
    <mat-icon matListItemIcon style=" font-size: 25px;">lunch_dining</mat-icon>
    Meals
  </a>



  <a mat-list-item #rla1="routerLinkActive" [activated]="rla1.isActive" routerLink="/Dashboard/MealsCategories"
    routerLinkActive="selected-menu-item">
    <mat-icon matListItemIcon style=" font-size: 25px;">category</mat-icon>
    Meals Category
  </a>


  <a mat-list-item #rla2="routerLinkActive" [activated]="rla2.isActive" routerLink="/Dashboard/Chefs"
    routerLinkActive="selected-menu-item">
    <mat-icon matListItemIcon style=" font-size: 25px;">person</mat-icon>
    Chefs
  </a>

  <a mat-list-item #rla3="routerLinkActive" [activated]="rla3.isActive" routerLink="/Dashboard/BookedTables"
    routerLinkActive="selected-menu-item">
    <mat-icon matListItemIcon style=" font-size: 25px;">table_restaurant</mat-icon>
    Reservations
  </a>


  <a mat-list-item #rla4="routerLinkActive" [activated]="rla4.isActive" routerLink="/Dashboard/Messages"
    routerLinkActive="selected-menu-item">
    <mat-icon matListItemIcon style=" font-size: 25px;">3p</mat-icon>
    Messages
  </a>

</mat-nav-list>