<header class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 p-5">
        <h2 class="h2-head">Enjoy Your Healthy
          Delicious Food</h2>
          <p class="p-head lead">Front-End Developer (Angular) With agood Knowldge in .Net </p>
          <div class="buttons">
            <button class="btn btn-outline-danger">Book Table</button>
            <a class="btn btn-outline-danger" target="_blank" href="https://www.youtube.com/watch?v=Y7f98aduVJ8">Watch Video</a>
          </div>
      </div>
      <div class="col-lg-5 offset-lg-1 ">
        <img src="/assets/img/hero-img.png" width="100%"  alt="">
      </div>
    </div>
  </div>
</header>

