header {
  background-color: #f2f2f2;
}



.h2-head {
  font-size: 3.7rem;
  letter-spacing: 1;
  line-height: 1;
  font-weight: 900;
  font-family: cursive;
  color: #37373F;
}

.p-head {
  letter-spacing: 1.2;
  line-height: 1.2;

  padding: 5px;
  color: #444444;
}

.buttons {
  color: white !important;
  display: flex;
  justify-content: space-evenly;
}

.buttons button,
a {
  border-radius: 20px;
  padding: 10px 20px;
}