<form #mealForm="ngForm" (ngSubmit)="AddMealCategory()">



  <div>
    <input type="text" class="form-control my-3" placeholder="Category Name" #Name="ngModel" pattern="^[a-zA-Z\s]+$"
      required [(ngModel)]="mealCategory.Name" name="Name" />
    <!-- Show error messages for Meal Name -->
    <div *ngIf="Name.invalid && Name.touched" class="text-danger">
      <div *ngIf="Name.errors?.['required']">Category Name is required.</div>
      <div *ngIf="Name.errors?.['pattern']">Category Name must only contain letters
      </div>
    </div>
  </div>


  <button class="btn btn-outline-success form-control" [disabled]="mealForm.invalid">Save</button>

</form>
