/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
  font-family: 'segoe ui light';

}


.h-style{
  font-size: 3rem !important ;
  letter-spacing: 1.2 !important;
  margin-bottom: 30px !important;
}

@media screen and (max-width:668px) {
  .h-style{
    font-size: 1.5rem !important;
  }
}
