<section class="About-US py-5">
  <p class="lead text-center" style="font-size: 0.9rem; color: #7F7F90;">ABOUT US</p>

  <h2 class="fw-bolder text-center h-style my-4">Learn More <span style="color: #ce1212;"> About Us</span></h2>


  <div class="container">
    <div class="row">
      <div class="col-lg-6 p-4">
        <img src="/assets/img/about.jpg" width="100%"  alt="">
        <div class="about_book mt-3">
          <p class="btn1">Book Table</p>
          <p class="btn2">01127414507</p>
        </div>
      </div>
      <div class="col-lg-6 p-4 " style="letter-spacing: 1.3; line-height: 1.5;">
        <p class="lead">Offering the best types of Bedouin food and grills with a unique taste that is incomparable. Our products are from our farms, in a modern Bedouin atmosphere that suits all tastes. There is a children's amusement park and an animal gallery for free. We have reservations for factories, groups and gatherings. We promise you a magical and unforgettable experience.</p>
        <img src="/assets/img/about-2.jpg" width="80%" class="d-block mx-auto img"   alt="">
      </div>
    </div>
  </div>
</section>
